<app-header></app-header>
<!--content account-->
<div class="container" >
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2>Forget Password</h2>
            <form #ConfirmationForm="ngForm" (ngSubmit)="OnSubmit(ConfirmationForm)">
              <div *ngIf="showError; else elseBlock">
                <div class="alert alert-danger" role="alert">
                  Invaild Email or Not Register
                </div>
              </div>
              <ng-template #elseBlock></ng-template>

              <div *ngIf="showSuccess; else elseSucess">
                <div class="alert alert-success" role="alert">
                  Email is Confirmed
                </div>
              </div>
              <ng-template #elseSucess></ng-template>
             
                <div class="form-holder">
                  <p>Email Address<span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched" required #email="ngModel" [(ngModel)]="ConfirmationForm.email" name="email">
                  <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
                </div>
                <button type="submit"  class="bt" [disabled]="!ConfirmationForm.valid" >Confrim</button>
                <br>
                <div class="text-center"><span>If you Confirm Your Email
                    <a href="/ResetPassword" id="login" style="text-decoration: underline; color:rgb(61, 92, 179) ;padding-left: 10px;" > Reset Password</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end content account-->


  