<app-header></app-header>
<!--content account-->
<div class="container" >
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2>Register</h2>
            <form #userform="ngForm" (ngSubmit)="OnSubmit(userform)">
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    {{errorMessage.error | json}}
                </div>
                <div class="form-holder">
                    <p>User Name <span>*</span></p>
                    <input type="text" class="form-control"  [class.is-invalid]="userName.invalid && userName.touched " [class.is-invalid]="userName.invalid && userName.touched " required #userName="ngModel" [(ngModel)]="userModel.userName" name="userName">
                    <small class="text-danger"[class.d-none]="userName.untouched || userName.valid">User Name is required</small>
                </div>
                <div class="form-holder">
                    <p>Email address <span>*</span></p>
                    <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched " required #email="ngModel" [(ngModel)]="userModel.email" name="email">
                    <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email address is required</small>
                </div>
                <div class="form-holder">
                    <p>City <span>*</span></p>
                    <input type="text" class="form-control"  [class.is-invalid]="city.invalid && city.touched " [class.is-invalid]="city.invalid && city.touched " required #city="ngModel" [(ngModel)]="userModel.city" name="city">
                    <small class="text-danger"[class.d-none]="city.untouched || city.valid">City is required</small>
                </div>
                <div class="form-holder">
                    <p>Password<span>*</span></p>
                    <div class="input-group">
                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="userModel.password" name="password" />
                        <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                   <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
                </div>
                <div class="form-holder">   
                    <p>Confirm Password<span>*</span></p>
                    <div class="input-group">
                        <input [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control"  [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched " required #confirmPassword="ngModel" [(ngModel)]="userModel.confirmPassword" name="confirmPassword" >
                        <div class="input-group-append">
                            <span class="input-group-text">
                            <i  class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !repeatFieldTextType,
                              'fa-eye': repeatFieldTextType
                            }"
                            (click)="toggleRepeatFieldTextType()"></i>
                            </span>
                        </div> 
                    </div>                   
                    <small class="text-danger"[class.d-none]="confirmPassword.untouched || confirmPassword.valid">Confirm Password is required</small>
                </div>
                <button type="submit" [disabled]="!userform.valid" class="bt">Register</button>
                <br>
                <div class="text-center"><span>If you have account 
                    <a href="/Login" id="login" style="text-decoration: underline; color:rgb(61, 92, 179) ;padding-left: 10px;" > Sign in </a></span>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end content account-->
