
<app-header></app-header>

<!--content account-->
<div class="container" >
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2>Login</h2>
            <form #loginForm="ngForm" (ngSubmit)="OnSubmit(loginForm)">
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage.error | json}}
              </div>
                <div class="form-holder">
                    <p>Email address <span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched " required #email="ngModel" [(ngModel)]="loginuser.email" name="email">
                  <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
                </div>
                <div class="form-holder">
                    <p>Password<span>*</span></p>
                    <div class="input-group">
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="loginuser.password" name="password" />
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"></i>
                        </span>
                      </div>
                    </div>
                </div>
                <button type="submit"  class="bt" [disabled]="!loginForm.valid" >Login</button>
                <br>
                <div class="text-left">
                  <a href="/forgetPassword" id="login" style="text-decoration: none; color:rgb(61, 92, 179) ;padding-left: 10px;" > Forget Password</a>
                </div>
                <br>
                <div class="text-center "><span>
                  <a href="/Register" id="login" style="text-decoration: underline; color:rgb(61, 92, 179) ;padding-left: 10px;" > Create New Account </a></span>
                </div>
              </form>
        </div>
    </div>
</div>
<!--end content account-->

