<app-header></app-header>

<!--content account-->
<div class="container" >
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2>Reset Password</h2>
            <form #Resetform="ngForm" (ngSubmit)="OnSubmit(Resetform)">
              <div *ngIf="showError; else elseBlock">
                <div class="alert alert-danger" role="alert">
                  {{errorMessage.error | json}}
                </div>
              </div>
              <ng-template #elseBlock></ng-template>

                <div class="form-holder">
                  <p>Email Address<span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="email.invalid && email.touched " [class.is-invalid]="email.invalid && email.touched" required #email="ngModel" [(ngModel)]="Resetform.email" name="email">
                  <small class="text-danger"[class.d-none]="email.untouched || email.valid">Email Address is required</small>
                </div>
                <div class="form-holder">
                  <p>New Password<span>*</span></p>
                  <div class="input-group">
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" [class.is-invalid]="password.invalid && password.touched " required #password="ngModel" [(ngModel)]="Resetform.password" name="password" />
                      <div class="input-group-append">
                      <span class="input-group-text">
                          <i class="fa"
                          [ngClass]="{
                            'fa-eye-slash': !fieldTextType,
                            'fa-eye': fieldTextType
                          }"
                          (click)="toggleFieldTextType()"></i>
                      </span>
                  </div>
              </div>
                 <small class="text-danger"[class.d-none]="password.untouched || password.valid">Password is required</small>
              </div>
              <div class="form-holder">   
                  <p>Confirm Password<span>*</span></p>
                  <div class="input-group">
                      <input [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control"  [class.is-invalid]="confrimPassword.invalid && confrimPassword.touched " required #confrimPassword="ngModel" [(ngModel)]="Resetform.confrimPassword" name="confrimPassword" >
                      <div class="input-group-append">
                          <span class="input-group-text">
                          <i  class="fa"
                          [ngClass]="{
                            'fa-eye-slash': !repeatFieldTextType,
                            'fa-eye': repeatFieldTextType
                          }"
                          (click)="toggleRepeatFieldTextType()"></i>
                          </span>
                      </div> 
                  </div>                   
                  <small class="text-danger"[class.d-none]="confrimPassword.untouched || confrimPassword.valid">Confirm Password is required</small>
              </div>
                <button type="submit"  class="bt" [disabled]="!Resetform.valid" >Send</button>
                <br>
            </form>
        </div>
    </div>
</div>
<!--end content account-->

